$text: #c9d1d9;



.layout {
    display: flex;
    height: 100%;

    @media screen and (max-width: 800px) {
        & {
            flex-direction: column;
        }
    }

    .left {
        flex-shrink: 0;
        padding-top: 50px;
        align-content: center;
        height: 100%;
        width: 400px;
        background: #0e1117;
        border-right: #383939 1px solid;
        box-sizing: border-box;
        padding-bottom: 50px;
        @media screen and (max-width: 800px) {
            & {
                width: 100%;
                height: auto;
            }
        }

        .user {
            text-align: center;
            .photo {
                height: 300px;
            }

            .name {
                color: $text;
                margin-bottom: 3px;
            }

            .title {
                margin-top: 0;
                color: $text;
                font-size: small;
            }
        }
    }

    .right {
        padding: 50px;
    }
}

.socialBar {

    .socialIcon {
        margin: 10px;
        cursor: pointer;
        font-size: 20px;
        color: #cccccc;
        i {
            color: inherit !important;
        }

        @keyframes soc-anim {
            0%   {color: #cccccc;}
            50%  {color: #ddd;}
            100% {color: #fff;}
        }

        &:hover  {
            animation-name: soc-anim;
            animation-timing-function: linear;
            animation-duration: 1s;
            color: #ffffff;
        }
    }
}

.socialIcon {
    margin: 5px;
}

.educationTable {
    .educationTableRow {
        margin: 10px;
        margin-left: 5px;
        padding: 10px;
        background: #ffffff05;
        height: 50px;
        display: flex;
        .year {
            margin-right: 10px;
            font-size: small;
            .from {
                padding: 5px;
            }
            .to {
                padding: 5px;
            }
        }
        .logo {
            width: 50px;
            flex-shrink: 0;
            margin-right: 10px;
            img {
                width: 50px;
            }
        }

        .desc {
            .title {
                font-weight: bold;
            }
            .sub {
                font-size: small;
            }
            margin: 5px;
        }

    }
}