@text: #c9d1d9;

a {
    text-decoration: unset;
}
a:visited {

}

body {
    background: #161b22;
    :global(#root) {
        height: 100vh;
    }
}
.layout {
    display: flex;
    height: 100%;

    .left {
        padding-top: 50px;
        align-content: center;
        height: 100%;
        width: 400px;
        background: #0e1117;
        border-right: #383939 1px solid;
        box-sizing: border-box;

        .user {
            text-align: center;
            .photo {
                height: 300px;
            }

            .name {
                color: @text;
                margin-bottom: 3px;
            }

            .title {
                margin-top: 0;
                color: @text;
                font-size: small;
            }
        }
    }
}

.socialBar {

    .socialIcon {
        margin: 10px;
        cursor: pointer;
        font-size: 20px;
        color: #cccccc;
        i {
            color: inherit !important;
        }

        @keyframes soc-anim {
            0%   {color: #cccccc;}
            50%  {color: #ddd;}
            100% {color: #fff;}
        }

        &:hover  {
            animation-name: soc-anim;
            animation-timing-function: linear;
            animation-duration: 1s;
            color: #ffffff;
        }
    }
}

.socialIcon {
    margin: 5px;
}